#_libgcc_mutex==0.1
aioftp==0.16.0
aiohttp==3.7.2
appdirs==1.4.4
argon2-cffi==20.1.0
asdf==2.4.2
astropy==4.0
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
#blas==1.0
bleach==3.2.1
brotlipy==0.7.0
bs4==0.0.1
bzip2==1.0.8
#ca-certificates==2020.10.14
cached-property==1.5.2
cairo==1.14.12
cdflib==0.3.19
certifi==2020.6.20
cffi==1.14.3
cftime==1.2.1
chardet==3.0.4
cloudpickle==1.6.0
contextlib2==0.6.0.post1
cryptography==3.2.1
cycler==0.10.0
cytoolz==0.11.0
dask-core==2.30.0
dbus==1.13.18
decorator==4.4.2
defusedxml==0.6.0
drms==0.5.7
entrypoints==0.3
expat==2.2.10
ffmpeg==4.0
fontconfig==2.13.0
#freeglut==3.0.0
freetype==2.10.4
glib==2.66.1
glymur==0.9.1
graphite2==1.3.14
gst-plugins-base==1.14.0
gstreamer==1.14.0
gwcs==0.13.0
harfbuzz==1.8.8
hdf5==1.10.2
heliosat==0.4.7
hypothesis==5.41.2
icu==58.2
idna==2.10
imageio==2.9.0
importlib-metadata==2.0.0
iniconfig==1.1.1
intel-openmp==2020.2==254
ipykernel==5.3.4
ipython==7.11.1
ipython_genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
jasper==2.0.14
jedi==0.17.2
jinja2==2.11.2
jpeg==9b
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kiwisolver==1.3.0
lcms2==2.11
#ld_impl_linux-64==2.33.1
libedit==3.1.20191231
libffi==3.3
#libgcc-ng==9.1.0
#libgfortran-ng==7.3.0
#libglu==9.0.0
libopencv==3.4.2
libopus==1.3.1
libpng==1.6.37
#libstdcxx-ng==9.1.0
libtiff==4.1.0
libuuid==1.0.3
libvpx==1.7.0
#libxcb==1.14
libxml2==2.9.10
libxslt==1.1.34
llvmlite==0.29.0
lxml==4.6.1
lz4-c==1.9.2
markupsafe==1.1.1
matplotlib==3.5.3
#matplotlib-base==3.5.3
mistune==0.8.4
mkl==2020.2==256
mkl-service==2.3.0
mkl_fft==1.2.0
mkl_random==1.1.1
more-itertools==8.6.0
multidict==4.7.6
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
ncurses==6.2
nest-asyncio==1.4.2
netcdf4==1.5.4
networkx==2.5
notebook==6.4.12
numba==0.45.1
numpy==1.17.2
numpy-base==1.17.2
olefile==0.46
opencv==3.4.2
openjpeg==2.3.0
#openssl==1.1.1h
packaging==20.4
pandas==0.25.3
pandocfilters==1.4.3
parfive==1.1.0
parso==0.7.0
pcre==8.44
pexpect==4.8.0
photutils==0.7.2
pickleshare==0.7.5
pillow==8.0.1
pip==19.3.1
pixman==0.40.0
pluggy==0.13.1
prometheus-client==0.8.0
prompt_toolkit==3.0.8
#psutil==5.7.2
ptyprocess==0.6.0
py==1.9.0
py-opencv==3.4.2
pycparser==2.20
pygments==2.7.2
pyopenssl==19.1.0
pyparsing==2.4.7
pyqt==5.9.2
pyrsistent==0.17.3
pysocks==1.7.1
pytest==6.1.1
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-doctestplus==0.8.0
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python==3.7.9
python-dateutil==2.8.1
python-wget==3.2
#python_abi==3.7
pytz==2020.1
pywavelets==1.1.1
pyyaml==5.3.1
pyzmq==19.0.2
qt==5.9.7
qtconsole==4.7.7
qtpy==1.9.0
readline==8.0
requests==2.24.0
requests-ftp==0.3.1
requests-toolbelt==0.9.1
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.3.1
seaborn==0.11.0
semantic_version==2.6.0
send2trash==1.5.0
setuptools==50.3.1
sip==4.19.8
six==1.15.0
sortedcontainers==2.2.2
soupsieve==2.0.1
spiceypy==3.1.1
sqlalchemy==1.3.20
sqlite==3.33.0
sunpy==2.0.1
tbb==2020.3
terminado==0.9.1
testpath==0.4.4
tk==8.6.10
toml==0.10.1
toolz==0.11.1
tornado==6.0.4
tqdm==4.51.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.25.11
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.35.1
widgetsnbextension==3.5.1
xz==5.2.5
yaml==0.2.5
yarl==1.5.1
zeep==3.4.0
zipp==3.4.0
zlib==1.2.11
zstd==1.4.5
